In [2]:
import pandas as pd
import geopandas as gpd
import numpy as np

In [3]:
d1 = gpd.read_file('NYBronx1938.geojson')
d2 = gpd.read_file('NYBrooklyn1938.geojson')
d3 = gpd.read_file('NYManhattan1937.geojson')
d4 = gpd.read_file('NYQueens1938.geojson')
d5 = gpd.read_file('NYStatenIsland1940.geojson')

In [4]:
d1.head()

,name,holc_id,holc_grade,area_description_data,geometry
0,None,A1,A,"{'0': 'New York City, N.Y. ', '5': 'The major ...","MULTIPOLYGON (((-73.90345 40.91062, -73.90386 ..."
1,None,A2,A,"{'0': 'New York City, N.Y.', '5': 'This is the...","MULTIPOLYGON (((-73.89916 40.89286, -73.89934 ..."
2,None,B1,B,"{'0': 'New York City, N.Y.', '5': 'The recentl...","MULTIPOLYGON (((-73.90652 40.90060, -73.90633 ..."
3,None,B10,B,"{'0': 'New York City, N. Y.', '5': 'A small se...","MULTIPOLYGON (((-73.85101 40.85032, -73.85482 ..."
4,None,B11,B,"{'0': 'New York City, N.Y.', '5': 'This sectio...","MULTIPOLYGON (((-73.83816 40.85735, -73.83848 ..."

In [5]:
d2.head()

,name,holc_id,holc_grade,area_description_data,geometry
0,None,A1,A,"{'3': '90 5 ', '5': '%5 high class apartments ...","MULTIPOLYGON (((-74.03557 40.61345, -74.03618 ..."
1,None,B1,B,"{'3': '25 15 5', '5': '20% high class apartmen...","MULTIPOLYGON (((-73.99356 40.69191, -73.99411 ..."
2,None,B10,B,"{'3': '40 35 10', '5': '15% apartments 3-4 sto...","MULTIPOLYGON (((-73.97611 40.61724, -73.97509 ..."
3,None,B11,B,"{'3': '80 20 ', '5': 'A 6-story apartment hous...","MULTIPOLYGON (((-73.96623 40.62860, -73.96510 ..."
4,None,B12,B,"{'3': '95 ', '5': 'About 5% of the houses, si...","MULTIPOLYGON (((-73.96561 40.60040, -73.96546 ..."

In [9]:
gdf = pd.concat([d1, d2,d3,d4,d5])

In [12]:
d1.shape

(44, 5)

In [16]:
di = {'A': "Poor", 'B': "Desirable", 'C':'Hazardous','D':'Low-Risk'}

In [21]:
gdf = gdf.replace({"holc_grade": di})

In [22]:
gdf.to_file("all-output.geojson", driver="GeoJSON")

In [23]:
d = gpd.read_file('all-output.geojson')

In [24]:
d.head()

,name,holc_id,holc_grade,area_description_data,geometry
0,None,A1,Poor,"{'0': 'New York City, N.Y. ', '5': 'The major ...","MULTIPOLYGON (((-73.90345 40.91062, -73.90386 ..."
1,None,A2,Poor,"{'0': 'New York City, N.Y.', '5': 'This is the...","MULTIPOLYGON (((-73.89916 40.89286, -73.89934 ..."
2,None,B1,Desirable,"{'0': 'New York City, N.Y.', '5': 'The recentl...","MULTIPOLYGON (((-73.90652 40.90060, -73.90633 ..."
3,None,B10,Desirable,"{'0': 'New York City, N. Y.', '5': 'A small se...","MULTIPOLYGON (((-73.85101 40.85032, -73.85482 ..."
4,None,B11,Desirable,"{'0': 'New York City, N.Y.', '5': 'This sectio...","MULTIPOLYGON (((-73.83816 40.85735, -73.83848 ..."